USE [GeographicalArea]
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'State', N'COLUMN',N'StateCode'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'State', @level2type=N'COLUMN',@level2name=N'StateCode'
GO
IF  EXISTS (SELECT * FROM sys.fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Country', N'COLUMN',N'CountryCode'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Country', @level2type=N'COLUMN',@level2name=N'CountryCode'
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[State]') AND type in (N'U'))
ALTER TABLE [dbo].[State] DROP CONSTRAINT IF EXISTS [FK_State_CountrySubdivisionType]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[State]') AND type in (N'U'))
ALTER TABLE [dbo].[State] DROP CONSTRAINT IF EXISTS [FK_State_Country]
GO
/****** Object:  Table [dbo].[State]    Script Date: 7/27/2021 6:54:36 PM ******/
DROP TABLE IF EXISTS [dbo].[State]
GO
/****** Object:  Table [dbo].[CountrySubdivisionType]    Script Date: 7/27/2021 6:54:36 PM ******/
DROP TABLE IF EXISTS [dbo].[CountrySubdivisionType]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/27/2021 6:54:36 PM ******/
DROP TABLE IF EXISTS [dbo].[Country]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 7/27/2021 6:54:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[CountryName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Country] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[CountrySubdivisionType]    Script Date: 7/27/2021 6:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountrySubdivisionType](
	[CountrySubdivisionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CountrySubdivisionTypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_CountrySubdivisionType] PRIMARY KEY CLUSTERED 
(
	[CountrySubdivisionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[CountrySubdivisionType] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[State]    Script Date: 7/27/2021 6:54:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](255) NOT NULL,
	[Abbreviation] [nvarchar](10) NULL,
	[StateCode] [nvarchar](10) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CountrySubdivisionTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[State] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Country] ON 
GO
INSERT [dbo].[Country] ([CountryId], [CountryCode], [CountryName]) VALUES (1, N'US', N'United States of America')
GO
INSERT [dbo].[Country] ([CountryId], [CountryCode], [CountryName]) VALUES (2, N'CA', N'Canada')
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[CountrySubdivisionType] ON 
GO
INSERT [dbo].[CountrySubdivisionType] ([CountrySubdivisionTypeId], [CountrySubdivisionTypeName], [Description]) VALUES (1, N'Capitol', NULL)
GO
INSERT [dbo].[CountrySubdivisionType] ([CountrySubdivisionTypeId], [CountrySubdivisionTypeName], [Description]) VALUES (2, N'Commonwealth', NULL)
GO
INSERT [dbo].[CountrySubdivisionType] ([CountrySubdivisionTypeId], [CountrySubdivisionTypeName], [Description]) VALUES (3, N'Minor', NULL)
GO
SET IDENTITY_INSERT [dbo].[CountrySubdivisionType] OFF
GO
SET IDENTITY_INSERT [dbo].[State] ON 
GO
INSERT [dbo].[State] ([StateId], [StateName], [Abbreviation], [StateCode], [CountryId], [CountrySubdivisionTypeId], [IsActive]) VALUES (1, N'Alabama', N'AL', N'US-AL', 1, 5, 1)
GO
INSERT [dbo].[State] ([StateId], [StateName], [Abbreviation], [StateCode], [CountryId], [CountrySubdivisionTypeId], [IsActive]) VALUES (2, N'Alaska', N'AK', N'US-AK', 1, 5, 1)
GO
INSERT [dbo].[State] ([StateId], [StateName], [Abbreviation], [StateCode], [CountryId], [CountrySubdivisionTypeId], [IsActive]) VALUES (3, N'Arizona', N'AZ', N'US-AZ', 1, 5, 1)
GO
SET IDENTITY_INSERT [dbo].[State] OFF
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([CountryId])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_CountrySubdivisionType] FOREIGN KEY([CountrySubdivisionTypeId])
REFERENCES [dbo].[CountrySubdivisionType] ([CountrySubdivisionTypeId])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_CountrySubdivisionType]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO_3166-1_alpha-2 Country Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Country', @level2type=N'COLUMN',@level2name=N'CountryCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO_3166-2 Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'State', @level2type=N'COLUMN',@level2name=N'StateCode'
GO
